In [1]:
# Importing the libraries

import pandas as pd
import numpy as np
import math as mt
import seaborn as sns #visualisation
import matplotlib.pyplot as plt # visualisation
plt.style.use("seaborn-whitegrid")
import warnings            
warnings.filterwarnings("ignore") # We can suppress the warnings
#calculation
import statistics as stats 
from statsmodels.stats import weightstats
import scipy.stats as pystats

In [2]:
# Importing the dataset Production

df1 =pd.read_csv("1.Barley.csv")
df2 =pd.read_csv("2.Meat_Cattle.csv")
df3 =pd.read_csv("3.Meat_Pig.csv")
df4 =pd.read_csv("4.Raw_Milk.csv")

In [3]:
# change names on datasets

df1 = df1.rename(columns = {"Value":"Barley"})
df2 = df2.rename(columns = {"Value":"Meat Cattle"})
df3 = df3.rename(columns = {"Value":"Meat Pig"})
df4 = df4.rename(columns = {"Value":"Raw Milk"})

In [4]:
#Created a join tables
df_m1 = pd.merge(df1,df2, how='inner', on=["Area","Year"],suffixes=("_df1", "_df2"))
df_m2 = pd.merge(df3,df4, how='inner', on=["Area","Year"],suffixes=("_df3", "_df4"))
df_prod = pd.merge(df_m1,df_m2, how='inner', on=["Area","Year"])

In [5]:
# Clean the dataset, deleting useless columns for ou analyse

df_prod.drop(["Domain_Code_df1","Domain_Code_df2","Domain_Code_df3","Domain_Code_df4"], axis=1, inplace=True)
df_prod.drop(["Domain_df1","Domain_df2","Domain_df3","Domain_df4"], axis=1, inplace=True)
df_prod.drop(["Area_Code_(M49)_df1","Area_Code_(M49)_df2","Area_Code_(M49)_df3","Area_Code_(M49)_df4"], axis=1, inplace=True)
df_prod.drop(["Element_Code_df1","Element_Code_df2","Element_Code_df3","Element_Code_df4"], axis=1, inplace=True)
df_prod.drop(["Element_df1","Element_df2","Element_df3","Element_df4"], axis=1, inplace=True)
df_prod.drop(["Item_Code_(CPC)_df1","Item_Code_(CPC)_df2","Item_Code_(CPC)_df3","Item_Code_(CPC)_df4"], axis=1, inplace=True)
df_prod.drop(["Item_df1","Item_df2","Item_df3","Item_df4"], axis=1, inplace=True)
df_prod.drop(["Year_Code_df1","Year_Code_df2","Year_Code_df3","Year_Code_df4"], axis=1, inplace=True)
df_prod.drop(["Unit_df1","Unit_df2","Unit_df3","Unit_df4"], axis=1, inplace=True)
df_prod.drop(["Flag_df1","Flag_df2","Flag_df3","Flag_df4"], axis=1, inplace=True)
df_prod.drop(["Flag_Description_df1","Flag_Description_df2","Flag_Description_df3","Flag_Description_df4"], axis=1, inplace=True)

# Prints out the first few rows
print(df_prod.head())

      Area  Year  Barley  Meat Cattle  Meat Pig  Raw Milk
0  Austria  2015  109982       975437    844993   1322196
1  Austria  2016   97002       944660    854356   1256018
2  Austria  2017  102480       991803    953570   1564446
3  Austria  2018  111802      1069738    902580   1823111
4  Austria  2019  114030       958769    994757   1566252

In [6]:
#Save new data frame as extension.CSV
#df_prod.to_csv("Consolidated Production.csv")

In [7]:
# Importing the dataset Price
df_pop =pd.read_csv("Consolidated Population.csv")

In [10]:
#Removed the column "Unnamed"
df_pop = df_pop.loc[:, ~df_pop.columns.str.contains('^Unnamed')]

In [11]:
#full print
df_pop

        Area  Year  Famale_K     Male_K   Rural_K   Urban_K
0    Austria  2015   4406.012  4236.408  3669.727  5008.930
1    Austria  2016   4444.016  4292.470  3667.377  5044.760
2    Austria  2017   4472.011  4325.485  3660.707  5074.746
3    Austria  2018   4492.710  4347.802  3649.748  5102.072
4    Austria  2019   4511.992  4367.948  3636.627  5129.574
..       ...   ...        ...       ...       ...       ...
157   Sweden  2016   4964.310  4989.007  1293.399  8544.134
158   Sweden  2017   5010.970  5047.220  1273.943  8636.758
159   Sweden  2018   5057.292  5105.006  1254.718  8727.991
160   Sweden  2019   5104.556  5163.366  1235.720  8817.415
161   Sweden  2020   5149.922  5219.047  1216.924  8904.762

[162 rows x 6 columns]

In [12]:
df_prod

        Area  Year  Barley  Meat Cattle  Meat Pig  Raw Milk
0    Austria  2015  109982       975437    844993   1322196
1    Austria  2016   97002       944660    854356   1256018
2    Austria  2017  102480       991803    953570   1564446
3    Austria  2018  111802      1069738    902580   1823111
4    Austria  2019  114030       958769    994757   1566252
..       ...   ...     ...          ...       ...       ...
117   Sweden  2016  210560       361123    408312   1031884
118   Sweden  2017  259179       365048    411678   1263871
119   Sweden  2018  245885       351124    400078   1273021
120   Sweden  2019  223513       324760    363273   1131124
121   Sweden  2020  232358       332287    383257   1194857

[122 rows x 6 columns]

# T-Test, one population

We are analyzing population applied for "Rural" from ireland compared to other european union countries in average 4202k.

In [16]:
# Define the variable 
#x = Population of Rural (in thousand)
X = df_pop["Rural_K"]; X

0      3669.727
1      3667.377
2      3660.707
3      3649.748
4      3636.627
         ...
157    1293.399
158    1273.943
159    1254.718
160    1235.720
161    1216.924
Name: Rural_K, Length: 162, dtype: float64

In [17]:
#H0 : u = 4202
#H1 : u =! 4202
#stats.ttest_1samp(X,mu of H0)
pystats.ttest_1samp(X,4202)

Ttest_1sampResult(statistic=4.811456666061871e-05, pvalue=0.9999616696950848)

In [18]:
#H1 : u > 4202
pystats.t.sf(4.811456666061871, 161)

1.7114923604622113e-06

We are analyzing population applied for "Rural_K" from ireland compared to Creatia in average 1785.48k.

In [20]:
# Created new df to grouping 2 countries
new_df_pop1 = df_pop[(df_pop.Area == "Ireland") | (df_pop.Area == "Creatia") ]
print(new_df_pop1)

       Area  Year  Famale_K     Male_K   Rural_K   Urban_K
78  Ireland  2015   2357.720  2308.039  1760.732  2939.375
79  Ireland  2016   2381.941  2333.847  1761.090  2964.988
80  Ireland  2017   2409.471  2362.383  1764.335  2997.322
81  Ireland  2018   2440.194  2394.313  1769.220  3034.528
82  Ireland  2019   2470.880  2425.139  1773.798  3073.341
83  Ireland  2020   2495.802  2450.316  1776.656  3111.336

In [22]:
# Define the variable 
#x = Population of Rural (in thousand)
X = new_df_pop1["Rural_K"]; X

78    1760.732
79    1761.090
80    1764.335
81    1769.220
82    1773.798
83    1776.656
Name: Rural_K, dtype: float64

In [23]:
#H0 : u = 1785.48K
#H1 : u =! 1785.48K
#stats.ttest_1samp(X,mu of H0)
pystats.ttest_1samp(X,1785)

Ttest_1sampResult(statistic=-6.36429916703271, pvalue=0.0014158755903700081)

In [24]:
#H1 : u > 1785.48
pystats.t.sf(-6.36429916703271, 83)

0.9999999948811659