In [1]:
# Importing the libraries

import pandas as pd
import numpy as np
import math as mt
import seaborn as sns #visualisation
import matplotlib.pyplot as plt # visualisation
plt.style.use("seaborn-whitegrid")
import warnings            
warnings.filterwarnings("ignore") # We can suppress the warnings
import statistics as stats #calculation

In [2]:
# Importing the dataset Production

df1 =pd.read_csv("1.Barley.csv")
df2 =pd.read_csv("2.Meat_Cattle.csv")
df3 =pd.read_csv("3.Meat_Pig.csv")
df4 =pd.read_csv("4.Raw_Milk.csv")

In [3]:
# change names on datasets

df1 = df1.rename(columns = {"Value":"Raw Milk"})
df2 = df2.rename(columns = {"Value":"Meat Cattle"})
df3 = df3.rename(columns = {"Value":"Meat Pig"})
df4 = df4.rename(columns = {"Value":"Barley"})

In [4]:
#Created a join tables
df_m1 = pd.merge(df1,df2, how='inner', on=["Area","Year"],suffixes=("_df1", "_df2"))
df_m2 = pd.merge(df3,df4, how='inner', on=["Area","Year"],suffixes=("_df3", "_df4"))
df_prod = pd.merge(df_m1,df_m2, how='inner', on=["Area","Year"])

In [5]:
# Clean the dataset, deleting useless columns for ou analyse

df_prod.drop(["Domain_Code_df1","Domain_Code_df2","Domain_Code_df3","Domain_Code_df4"], axis=1, inplace=True)
df_prod.drop(["Domain_df1","Domain_df2","Domain_df3","Domain_df4"], axis=1, inplace=True)
df_prod.drop(["Area_Code_(M49)_df1","Area_Code_(M49)_df2","Area_Code_(M49)_df3","Area_Code_(M49)_df4"], axis=1, inplace=True)
df_prod.drop(["Element_Code_df1","Element_Code_df2","Element_Code_df3","Element_Code_df4"], axis=1, inplace=True)
df_prod.drop(["Element_df1","Element_df2","Element_df3","Element_df4"], axis=1, inplace=True)
df_prod.drop(["Item_Code_(CPC)_df1","Item_Code_(CPC)_df2","Item_Code_(CPC)_df3","Item_Code_(CPC)_df4"], axis=1, inplace=True)
df_prod.drop(["Item_df1","Item_df2","Item_df3","Item_df4"], axis=1, inplace=True)
df_prod.drop(["Year_Code_df1","Year_Code_df2","Year_Code_df3","Year_Code_df4"], axis=1, inplace=True)
df_prod.drop(["Unit_df1","Unit_df2","Unit_df3","Unit_df4"], axis=1, inplace=True)
df_prod.drop(["Flag_df1","Flag_df2","Flag_df3","Flag_df4"], axis=1, inplace=True)
df_prod.drop(["Flag_Description_df1","Flag_Description_df2","Flag_Description_df3","Flag_Description_df4"], axis=1, inplace=True)

# Prints out the first few rows
print(df_prod.head())

      Area  Year  Raw Milk  Meat Cattle  Meat Pig   Barley
0  Austria  2015    109982       975437    844993  1322196
1  Austria  2016     97002       944660    854356  1256018
2  Austria  2017    102480       991803    953570  1564446
3  Austria  2018    111802      1069738    902580  1823111
4  Austria  2019    114030       958769    994757  1566252

In [6]:
#Save new data frame as extension.CSV
df_prod.to_csv("Consolidated Production.csv")

In [7]:
df_price =pd.read_csv("Consolidated Price.csv")

In [8]:
df_price = df_price.loc[:, ~df_price.columns.str.contains('^Unnamed')]

In [9]:
df_price

       Area  Year  Raw Milk  Meat Cattle  Meat Pig  Barley
0   Austria  2015     130.9       4247.5    1597.0   373.7
1   Austria  2016     112.8       4137.2    1659.3   346.2
2   Austria  2017     131.0       4371.9    1875.3   421.4
3   Austria  2018     161.8       4582.1    1771.4   477.1
4   Austria  2019     137.7       4175.6    1981.5   414.2
..      ...   ...       ...          ...       ...     ...
75    Spain  2016     167.4       2650.9    1260.5   331.7
76    Spain  2017     186.5       2808.2    1423.3   360.1
77    Spain  2018     203.8       2776.2    1351.5   366.2
78    Spain  2019     196.0       2537.7    1509.2   350.6
79    Spain  2020     184.1       2494.2    1485.1   365.6

[80 rows x 6 columns]

In [10]:
df_prod

        Area  Year  Raw Milk  Meat Cattle  Meat Pig   Barley
0    Austria  2015    109982       975437    844993  1322196
1    Austria  2016     97002       944660    854356  1256018
2    Austria  2017    102480       991803    953570  1564446
3    Austria  2018    111802      1069738    902580  1823111
4    Austria  2019    114030       958769    994757  1566252
..       ...   ...       ...          ...       ...      ...
117   Sweden  2016    210560       361123    408312  1031884
118   Sweden  2017    259179       365048    411678  1263871
119   Sweden  2018    245885       351124    400078  1273021
120   Sweden  2019    223513       324760    363273  1131124
121   Sweden  2020    232358       332287    383257  1194857

[122 rows x 6 columns]